@media screen and (min-width: 767px) {
}

body {
  padding: 1em;
  background-color: #cccc99;
  font-family: arial;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

nav {
  display: block;
  background-color: #990033;
  text-align: center;
  width: 100%;
  margin: 0 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  display: flex;
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  width: 30px;
}

nav ul li a {
  display: flex;
  padding: 8px 0;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  color: #ffffcc;
  text-decoration: none;
}

main {
  width: 80%;
  padding: 50px;
  display: inline-block;
  background-color: #ffffff;
}

section .row1 {
  width: 80%;
  text-align: center;
}

#wine1 {
  float: left;
  width: 80%;
}

#wine2 {
  display: inline-block;
  margin: 0;
  width: 80%;
}

#wine3 {
  float: right;
  width: 80%;
}
