@media screen and (min-width: 767px) {
}

body {
  padding: 1em;
  background-color: #cccc99;
  font-family: arial;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

nav {
  background-color: #990033;
  color: #ffffff;
  font-family: arial, bold;
  font-size: 1em;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
}

nav ul li {
  margin: 0 10px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffffcc;
  text-decoration: none;
  transition: 0.3 background-colour;
}

main {
  background-color: #ffffff;
  width: 80%;
  text-align: center;
}

section #row1 {
  width: 80%;
  text-align: center;
}

.wine1 {
  float: left;
  width: 80%;
}

.wine2 {
  display: inline-block;
  margin: 0;
  width: 80%;
}

.wine3 {
  float: right;
  width: 80%;
}
